/.vs/
/.vscode/
/.x64/
/.idea/

/debug/
/Debug/
/release/
/Release/
/out/
/install/
/bin/
/lib/

/cmake-build-debug/
/cmake-build-release/
/cmake_build/
/build/
CMakeFiles/
CMakeCache.txt
Makefile

*.bak
*.ilk
*.pdb
*.obj
*.vcxproj
*.filters
*.cmake
*.sln
*.exe
